<?xml version="1.0"  encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.boa.mapper.TPriceConfigMapper">

    <resultMap id="tPriceConfigResultMap" type="com.boa.entity.TPriceConfig">
        <id property="id" column="id" />
        <result property="createAt" column="create_at" />
        <result property="updateAt" column="update_at" />
        <result property="level" column="level" />
        <result property="probability" column="probability" />
        <result property="description" column="description" />
        <result property="deleted" column="deleted" />
    </resultMap>

    <sql id="selectClause">
        id, create_at, update_at, level, probability, description, deleted
    </sql>

    <sql id="whereClause">
        <if test="id != null">
            AND id = #{id}
        </if>
        <if test="createAt != null">
            AND create_at = #{createAt}
        </if>
        <if test="updateAt != null">
            AND update_at = #{updateAt}
        </if>
        <if test="level != null">
            AND level = #{level}
        </if>
        <if test="probability != null">
            AND probability = #{probability}
        </if>
        <if test="description != null">
            AND description = #{description}
        </if>
        <if test="deleted != null">
            AND deleted = #{deleted}
        </if>
    </sql>

    <sql id="pageConditionWhereClause">
        <if test="query.id != null">
            AND id = #{id}
        </if>
        <if test="query.createAt != null">
            AND create_at = #{createAt}
        </if>
        <if test="query.updateAt != null">
            AND update_at = #{updateAt}
        </if>
        <if test="query.level != null">
            AND level = #{level}
        </if>
        <if test="query.probability != null">
            AND probability = #{probability}
        </if>
        <if test="query.description != null">
            AND description = #{description}
        </if>
        <if test="query.deleted != null">
            AND deleted = #{deleted}
        </if>
    </sql>

    <sql id="updateClause">
        <if test="id != null">
            id = #{id},
        </if>
        <if test="createAt != null">
            create_at = #{createAt},
        </if>
        <if test="updateAt != null">
            update_at = #{updateAt},
        </if>
        <if test="level != null">
            level = #{level},
        </if>
        <if test="probability != null">
            probability = #{probability},
        </if>
        <if test="description != null">
            description = #{description},
        </if>
        <if test="deleted != null">
            deleted = #{deleted}
        </if>
    </sql>

    <sql id="insertClause">
        <if test="id != null">
            id,
        </if>
        <if test="createAt != null">
            create_at,
        </if>
        <if test="updateAt != null">
            update_at,
        </if>
        <if test="level != null">
            level,
        </if>
        <if test="probability != null">
            probability,
        </if>
        <if test="description != null">
            description,
        </if>
        <if test="deleted != null">
            deleted,
        </if>
    </sql>

    <sql id="insertValues">
        <if test="id != null">
            #{id},
        </if>
        <if test="createAt != null">
            #{createAt},
        </if>
        <if test="updateAt != null">
            #{updateAt},
        </if>
        <if test="level != null">
            #{level},
        </if>
        <if test="probability != null">
            #{probability},
        </if>
        <if test="description != null">
            #{description},
        </if>
        <if test="deleted != null">
            #{deleted},
        </if>
    </sql>

    <select id="findAll" resultMap="tPriceConfigResultMap">
        select
            <include refid="selectClause" />
        from t_price_config
    </select>

    <select id="findById" resultMap="tPriceConfigResultMap">
        select
            <include refid="selectClause" />
        from t_price_config
        where
            id = #{id}
    </select>

    <select id="findByCondition" parameterType="com.boa.entity.TPriceConfig" resultMap="tPriceConfigResultMap">
        select
            <include refid="selectClause" />
        from t_price_config
        <where>
            <include refid="whereClause" />
        </where>
    </select>

    <select id="findPage" resultMap="tPriceConfigResultMap">
        select
        <include refid="selectClause" />
        from t_price_config
    </select>

    <select id="findPageByCondition" parameterType="com.boa.entity.TPriceConfig"  resultMap="tPriceConfigResultMap">
        select
        <include refid="selectClause" />
        from t_price_config
        <where>
            <include refid="pageConditionWhereClause" />
        </where>
    </select>

    <update id="updateById" parameterType="com.boa.entity.TPriceConfig">
        update t_price_config
        <set>
            <include refid="updateClause" />
        </set>
        where
                id = #{id}
    </update>
    <insert id="save" useGeneratedKeys="true" keyProperty="id" parameterType="com.boa.entity.TPriceConfig">
        insert into t_price_config
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="insertClause" />
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="insertValues" />
        </trim>
    </insert>

    <select id="count" parameterType="com.boa.entity.TPriceConfig" resultType="java.lang.Long">
        select
            count(*)
        from t_price_config
    </select>

    <select id="countByCondition" parameterType="com.boa.entity.TPriceConfig" resultType="java.lang.Long">
        select
            count(*)
        from t_price_config
        <where>
            <include refid="whereClause" />
        </where>
    </select>

    <delete id="deleteById">
        update t_price_config set
            disabled = '1'
        where
            id = #{id}
    </delete>

    <delete id="deleteDataById">
        delete
            from t_price_config
        where
            id = #{id}

    </delete>

</mapper>