<?xml version="1.0"  encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.boa.mapper.TOrderMapper">

    <resultMap id="tOrderResultMap" type="com.boa.entity.TOrder">
        <id property="id" column="id" />
        <result property="createAt" column="create_at" />
        <result property="updateAt" column="update_at" />
        <result property="phone" column="phone" />
        <result property="gift" column="gift" />
        <result property="state" column="state" />
        <result property="visitDate" column="visit_date" />
        <result property="takedDate" column="taked_date" />
        <result property="deleted" column="deleted" />
    </resultMap>

    <sql id="selectClause">
        id, create_at, update_at, phone, gift, state, visit_date, taked_date, deleted
    </sql>

    <sql id="whereClause">
        <if test="id != null">
            AND id = #{id}
        </if>
        <if test="createAt != null">
            AND create_at = #{createAt}
        </if>
        <if test="updateAt != null">
            AND update_at = #{updateAt}
        </if>
        <if test="phone != null">
            AND phone = #{phone}
        </if>
        <if test="gift != null">
            AND gift = #{gift}
        </if>
        <if test="state != null">
            AND state = #{state}
        </if>
        <if test="visitDate != null">
            AND visit_date = #{visitDate}
        </if>
        <if test="takedDate != null">
            AND taked_date = #{takedDate}
        </if>
        <if test="deleted != null">
            AND deleted = #{deleted}
        </if>
    </sql>

    <sql id="pageConditionWhereClause">
        <if test="query.id != null">
            AND id = #{id}
        </if>
        <if test="query.createAt != null">
            AND create_at = #{createAt}
        </if>
        <if test="query.updateAt != null">
            AND update_at = #{updateAt}
        </if>
        <if test="query.phone != null">
            AND phone = #{phone}
        </if>
        <if test="query.gift != null">
            AND gift = #{gift}
        </if>
        <if test="query.state != null">
            AND state = #{state}
        </if>
        <if test="query.visitDate != null">
            AND visit_date = #{visitDate}
        </if>
        <if test="query.takedDate != null">
            AND taked_date = #{takedDate}
        </if>
        <if test="query.deleted != null">
            AND deleted = #{deleted}
        </if>
    </sql>

    <sql id="updateClause">
        <if test="id != null">
            id = #{id},
        </if>
        <if test="createAt != null">
            create_at = #{createAt},
        </if>
        <if test="updateAt != null">
            update_at = #{updateAt},
        </if>
        <if test="phone != null">
            phone = #{phone},
        </if>
        <if test="gift != null">
            gift = #{gift},
        </if>
        <if test="state != null">
            state = #{state},
        </if>
        <if test="visitDate != null">
            visit_date = #{visitDate},
        </if>
        <if test="takedDate != null">
            taked_date = #{takedDate},
        </if>
        <if test="deleted != null">
            deleted = #{deleted}
        </if>
    </sql>

    <sql id="insertClause">
        <if test="id != null">
            id,
        </if>
        <if test="createAt != null">
            create_at,
        </if>
        <if test="updateAt != null">
            update_at,
        </if>
        <if test="phone != null">
            phone,
        </if>
        <if test="gift != null">
            gift,
        </if>
        <if test="state != null">
            state,
        </if>
        <if test="visitDate != null">
            visit_date,
        </if>
        <if test="takedDate != null">
            taked_date,
        </if>
        <if test="deleted != null">
            deleted,
        </if>
    </sql>

    <sql id="insertValues">
        <if test="id != null">
            #{id},
        </if>
        <if test="createAt != null">
            #{createAt},
        </if>
        <if test="updateAt != null">
            #{updateAt},
        </if>
        <if test="phone != null">
            #{phone},
        </if>
        <if test="gift != null">
            #{gift},
        </if>
        <if test="state != null">
            #{state},
        </if>
        <if test="visitDate != null">
            #{visitDate},
        </if>
        <if test="takedDate != null">
            #{takedDate},
        </if>
        <if test="deleted != null">
            #{deleted},
        </if>
    </sql>

    <select id="findAll" resultMap="tOrderResultMap">
        select
            <include refid="selectClause" />
        from t_order
    </select>

    <select id="findById" resultMap="tOrderResultMap">
        select
            <include refid="selectClause" />
        from t_order
        where
            id = #{id}
    </select>

    <select id="findByCondition" parameterType="com.boa.entity.TOrder" resultMap="tOrderResultMap">
        select
            <include refid="selectClause" />
        from t_order
        <where>
            <include refid="whereClause" />
        </where>
    </select>

    <select id="findPage" resultMap="tOrderResultMap">
        select
        <include refid="selectClause" />
        from t_order
    </select>

    <select id="findPageByCondition" parameterType="com.boa.entity.TOrder"  resultMap="tOrderResultMap">
        select
        <include refid="selectClause" />
        from t_order
        <where>
            <include refid="pageConditionWhereClause" />
        </where>
    </select>

    <update id="updateById" parameterType="com.boa.entity.TOrder">
        update t_order
        <set>
            <include refid="updateClause" />
        </set>
        where
                id = #{id}
    </update>
    <insert id="save" useGeneratedKeys="true" keyProperty="id" parameterType="com.boa.entity.TOrder">
        insert into t_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="insertClause" />
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="insertValues" />
        </trim>
    </insert>

    <select id="count" parameterType="com.boa.entity.TOrder" resultType="java.lang.Long">
        select
            count(*)
        from t_order
    </select>

    <select id="countByCondition" parameterType="com.boa.entity.TOrder" resultType="java.lang.Long">
        select
            count(*)
        from t_order
        <where>
            <include refid="whereClause" />
        </where>
    </select>

    <delete id="deleteById">
        update t_order set
            disabled = '1'
        where
            id = #{id}
    </delete>

    <delete id="deleteDataById">
        delete
            from t_order
        where
            id = #{id}

    </delete>


    <select id="findPageOrderByCreateDate" resultMap="tOrderResultMap">
        select
        <include refid="selectClause" />
        from t_order
        order by create_at desc
    </select>

</mapper>